<!--category-->
<div class="container-fluid">
    <div class="container d-flex">
        <div class="item">

            <a (click)="categorySearch('')">
                <img style="width:100px; margin-top: 15px;"
                    src="https://i.postimg.cc/4NpVfcXG/a36b422bb2bebcbd77bba846b83ddf5d.png" alt="">
                <h6 style="margin-top: 18px;">All Products</h6>
            </a>

        </div>

        <div class="item">

            <a (click)="categorySearch('1')">
                <img style="width:100px; margin-top: 25px; margin-left: 30px;"
                    src="https://i.postimg.cc/qvhf6pZp/2777142.png" alt="">
                <h6 style="margin-top: 8px; margin-left: 40px;">Electronic</h6>
            </a>

        </div>

        <div class="item">

            <a (click)="categorySearch('2')">
                <img style="width:100px; margin-top: 30px; margin-left: 30px;"
                    src="https://i.postimg.cc/prjm0ws8/images.png" alt="">
                <h6 style="margin-top: 3px; margin-left: 60px;">Fashion</h6>
            </a>

        </div>


        <div class="item">

            <a (click)="categorySearch('3')">
                <img style="width:100px; margin-top: 25px; margin-left: 40px;"
                    src="https://i.postimg.cc/HkVffTQf/download.png" alt="">
                <h6 style="margin-top: 8px; margin-left: 65px;">Books</h6>
            </a>

        </div>

    </div>

</div>




<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of categoryList | searchFilter:searchItem:'productName' ">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" style="height: 300px;" src="{{product.productImg}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.productName}}</h5>
                            <!-- Product price-->
                            ₹{{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="products/view-product/{{product.id}}">View options</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>